body{
  margin-top: 20px;
  background-image: url(https://wallpapercave.com/wp/wp5244984.jpg);
  padding: 200px 100px;
  background-repeat: no-repeat;
  background-position: ;
  background-attachment: scroll;
}

bg-image{
  height: 100px;
  width: 50px;
  opacity: 
}

header{
  height: 300px;
  width: 300px;
  background: none;
  text-align: center;
}
.img{
  margin-top: 10px;
}

h1{
  height: 100px;
  margin-top: 80px;
  color: #77557a;
}

main{
  height: 800px;
  width: 1000px;
  outline: black 100px;
 
}